.OptionalNavbar {
  position: fixed;
  display: grid;
  justify-content: space-between;
  font-family: Montserrat;
  width: 100vw;
  z-index: 30;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  align-items: center;
  z-index: 70;
  .OptionalNavbar-navbarLeft {
    display: flex;
    margin-left: 5rem;
    width: 100%;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6rem 2rem;
      span {
        font-family: montserrat;
        font-weight: lighter;
        text-align: center;
        font-size: 0.8125rem;
        vertical-align: middle;
      }
    }
  }
  .OptionalNavbar-navbarRight {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;

    a {
      color: white;
    }
  }
}
