.OptionalNavbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-weight: bold;
  
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  z-index: 70;
  .OptionalNavbar-navbarLeft {
    display: flex;
    margin-top: 0.2rem;
    margin-left: 10rem;
    width: 100%;
    .Logostyle{
      background-image: url("/assets/svg/Logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 4vh;
      height: 5vh;
      &:hover{
        cursor: pointer;
      }
    }
    
  }
  .OptionalNavbar-navbarRight {
    display: flex;
    margin-right: 6rem;
    justify-content: space-evenly;
    width: 40vw;

    a {
      color: white;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}