.Dasboard-image{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #5433ff 0%, #20bdff 100%);
  position: absolute;
  z-index: -3;
}

.Dashboard-grid {
  display: grid;
  grid-template-columns: 21.5% auto;
  grid-template-rows: 11.5% 78% 10.5%;
  grid-template-areas:
    ".  ."
    "left   content"
    "footer footer";
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans";
  .Left-Sidebar {
    display: grid;
    grid-area: left;
    justify-content: center;
    margin-top: 5rem;
    .Left-Sidebar-List {
      .headers h3{
        padding-bottom: 2.5rem;
        text-align: center;
        font-weight: 500;
        background: none;
        border: none;
        list-style-type: none;
        text-decoration: none;
        color: white;
        font-size: 1.7rem;
      }
    }
  }
  .Right-Grid{
    grid-area: content;
    background: white;
    display: grid;
    grid-template-rows: 15% auto;
    grid-template-areas: 
      "rightTop"
      "rightBottom";
    border-radius: 2.5rem;
    z-index: -2;

    .Right-Heading{
      display: grid;      
      grid-area: rightTop;
      align-content: center;
      margin-left: 6rem;
      font-size: 3rem;
      font-family: "Montserrat Medium";
    }
  }
}
