.Dashboard-grid {
  background-image: linear-gradient(180deg, #292e49 0%, #536976 100%);

  display: grid;
  grid-template-columns: 21.5% 78%;
  grid-template-rows: 11.5% 88%;
  grid-template-areas:
    ".  ."
    "left   content";
  width: 100vw;
  height: 100vh;
  z-index: 1;
  font-family: "Open Sans";
  .Left-Sidebar {
    display: grid;
    grid-area: left;
    justify-content: center;
    margin-top: 5rem;
    .Left-Sidebar-List {
      .headers h3 {
        margin-bottom: 2.5rem;
        text-align: center;
        font-weight: 500;
        background: none;
        border: none;
        list-style-type: none;
        text-decoration: none;
        color: white;
        font-size: 1.7rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .Right-Grid {
    grid-area: content;
    background: white;
    display: grid;
    grid-template-rows: auto;
    border-radius: 2.5rem;
    z-index: 3;
  }
}
