.landingImage {
  font-family: "Montserrat";
  height: 100vh;
}

.Content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "rect rect"
    "rect rect";
}

.landingImage {
  background: url("/assets/svg/Landing.svg") no-repeat center center;
  background-size: cover;
  pointer-events: none;
  cursor: default;
  width: 1920px;
  height: 1080px;
}

.welcome {
  display: grid;
  grid-template-rows: 500px 500px;
  grid-template-columns: 500px 500px 500px;
  grid-template-areas:
    ". . wc"
    ". . gs";

  grid-gap: 0px;
  padding: 0px;
}

.welcomeHeader {
  display: grid;
  text-align: left;
  align-content: end;
  grid-area: wc;
  justify-content: left;
  font-size: 52px;
  padding-bottom: 10px;
  font-weight: 400;
}

.getStarted {
  display: grid;
  grid-area: gs;
  align-content: center;
  width: 300px;
  height: 70px;
  background-image: linear-gradient(120deg, #5433ff 0%, #20bdff 100%);
  border: none;
  color: white;
  margin-top: 10px;
  font-weight: 200;
  font-size: 24px;
  :hover{
    cursor: pointer;
  }
}